.sliding-page {
    background-color: #ff0000;
    color: #fff;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    user-select: none;
    width: 100%;
    position: relative;
}

.sliding-track {
    display: flex;
    animation: scroll 300s linear infinite;
    white-space: nowrap;
}

.sliding-text {
    display: flex;
}

.sliding-sentence {
    margin-right: 39px; /* space between sentences */
    font-size: 15px;
    white-space: nowrap;
    padding: 14px
}

/* Mobile adjustments */
@media (max-width: 768px) {
    .sliding-sentence {
        font-size: 14px;
        margin-right: 50px; /* smaller gap on mobile */
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}