.cr-section {
    padding: 60px 20px;
    text-align: center;
    background: #ffffff;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cr-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 2px;
    background-color: #ff000021;
    width: fit-content;
    border-radius: 120px;
    padding: 10px
}

.cr-toggle button {
    padding: 10px 20px;
    border-radius: 25px;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    color: #000;
}

.cr-toggle button.active {
    background: #ff0000;
    color: #fff;
}

.cr-content {
    max-width: 600px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cr-content h2 {
    font-size: 4.5rem;
    margin-bottom: 15px;
    font-weight: 700;
    line-height: 4.9rem;
    max-width: 500px;
}

.cr-content p {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
    max-width: 500px;
    line-height: 20px;
}

.cr-content img {
    width: 100%;
    max-width: 400px;
    border-radius: 12px;

}

/* Mobile responsiveness */
@media (max-width: 600px) {
    .cr-content h2 {
        font-size: 3.2em;
    }

    .cr-content p {
        font-size: 14px;
    }
}