/* Navbar Styles */
.navbar {

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999999999999;
    color: #000;
  
}



.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
    margin: 0 auto;
    background-color: #fff;
    color: #000;
    height: 70px
 
}

/* Logo */


/* Navigation Links */
.nav-links {
    display: flex;
    gap: 48px;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    padding: 8px 0px;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 15px;
}


.nav-links .active .nav-item-p {
    border-radius: 0px;
    padding-bottom: 4px;
    padding: 0px;
    margin: 0px;
    color: #000;
}

.nav-item-p {
    font-size: 14px;
    margin: 0px
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
}

.mode-arrow {
    display: none;
}

.navbar-icons-here {
    display: flex;
}

.navbar-icons {
    display: flex;
    gap: 16px
}


@media screen and (max-width: 960px) {
    .menu-toggle {
        display: block;
    }

    .navbar-icons-here {
        display: none;
    }

    .nav-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 95%;
    }

    .nav-links .active .nav-item-p {
        border-bottom: 0px solid #fff;
        border-radius: 0px;
        color: #011404;

    }

    .nav-item-p {
        border-bottom: 0px solid #fff;
        border-radius: 0px;
        color: #fff;

    }

    .mode-arrow {
        display: inline-block;
        align-self: flex-end;
        color: #fff;
    }

    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 16px;
        margin: 0 auto;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background: #ff0000;
        width: 100%;
        text-align: center;
        padding-top: 48px;
        height: fit-content;
        padding-bottom: 64px;
        max-height: 70vh;
        overflow-y: auto;
        color: #fff;
        font-weight: 500;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links li {
        /* padding-top: 16px; */
        padding-left: 16px;
        text-align: left;
        margin: 0px;
        color: #fff;
        font-weight: 500;
    }

}