@import "tailwindcss";
@import "./assets/fonts/fonts.css";

:root {
  --font-sans: "Lufga", system-ui, sans-serif;
  padding: 0px;
  margin: 0px
}

body {
  font-family: var(--font-sans);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}