@import "tailwindcss";
@import "./assets/fonts/fonts.css";

@theme {
  --font-sans: "Lufga", system-ui, sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}