.mid-image {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 16px;
    margin-bottom: 0px;
    background-color: #fff;
    color: #121212;
    font-family: 'Lufga', sans-serif;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-attachment: fixed;
    object-fit: cover;
    height: 80vh;
    align-items: center;
}

.mid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
}